<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
	<link rel="stylesheet" href="/static/stil.css">

  </head>

  <body>
  <div id="telo">
	<div id="banner">
	<center><a href="\" style="text-decoration:none;"><img alt="" height="176" src="/static/logo.jpg" width="469"></a></center></br>
	</div>
	
	<table id="tabela">
	<tr>
	<td style="vertical-align:top">
	<div id="stolpec">
	
	<a href="/">Začetna stran</a></br>
	<a href="/pregled/">Pregled</a></br>
	<a href="/uvoz/">Uvoz podatkov</a></br>
	<a href="/sprememba/">Sprememba podatkov</a></br>
	<a href="/odjava/">Odjava</a>
	
	</div>
	</td>
	
	<td>
	<div id="drugistolpec">
	{{!base}}
	</div>
	</td>
	</tr>
	</table>
</div>
  </body>
</html>
