%rebase ('base.html', title='Avtoprevozništvo')

<p style="font-size:35px">{{datum}}</p>
%if napaka:
 <div class="alert alert-warning">{{napaka}}</div>
%else:
<div id="mesec">
<table id="mesec">
<tr>
<td width="90px" style="color: black;">ime</td>
<td width="90px" style="color: black;">priimek</td>
<td width="140px" style="color: black;">registrska</td>
<td width="140px" style="color: black;">gorivo</td>
<td style="color: black;">razdalja</td>
</tr>
%for niz in podatki:
<tr>
%for i in range(len(niz)):
<td>
{{niz[i]}}
</td>
%end
</tr>
%end

</table>
</div>
%end
