%rebase ('base.html', title='Avtoprevozništvo')
Vozniki:
<table id="vozniska">
%for voznik in seznam:
<tr>
<td id="vozniki">&bull; &nbsp;<a href="/pregled/{{voznik[2]}}/">{{voznik[0]}} {{voznik[1]}}</a></td><td id="vozniki"><p style="font-size: 10px; margin-left:10px">({{voznik[2]}})</p></td>
</tr>
%end
</table>

</br></br>
</br></br>
Mesec:
%if len(meseci)==0:
<div class="alert alert-warning">V bazi ni vnešenega nobenega prevoza.</div>
%else:
<ul>
%for i in range(2):
<li><a href="/pregled/{{leto}}/{{meseci[i+2]}}/">{{meseci[i]}}</a></li>
</ul>
%end
