<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
	<link rel="stylesheet" href="/static/stil.css">

  </head>

  <body>
  <div id="telo">
	<div id="banner">
	<center><a href="\" style="text-decoration:none;"><img alt="" height="176" src="../static/logo.jpg" width="469"></a></center></br>
	</div>
	<center>
	Prosimo, prijavite se.
	 <div class="container">
      <form class="form-signin" role="form" method="post" action=".">
       %if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
        %end
        <input type="uporabnik" class="form-control" placeholder="Uporabniško ime" 
		%if uporabnik:
        value="{{uporabnik}}"
        %end
		name="uporabnik" required autofocus></br>
        <input type="password" class="form-control" placeholder="Geslo" name="geslo" required></br>
        <button class="gumb" type="submit">Prijava</button>
      </form>
    </div> 
	</br></br>
	<a href="/registracija/">Registracija</a>
	</center>

</div>
  </body>
</html>
