%rebase ('base.html', title='Avtoprevozništvo')
%if obvestilo:
  <div class="alert alert-warning">{{obvestilo}}</div>
  %end

<p style="font-size:20px">Spremeni osebne podatke voznika:</p>
<form action="/sprememba/" method="post" enctype="multipart/form-data">
<table>
<tr>
<td>Ime:</td> <td><input type="text" name="ime" accept-charset="utf-8"/></td>
</tr><tr>
<td>Priimek:</td> <td><input type="text" name="priimek"  accept-charset="utf-8"/> </td>
</tr><tr>
<td>Datum rojstva:</td> <td> <input type="date" name="datum" /> </td>
</tr><tr>
<td>Registrska št.:</td> <td>	<input type="text" name="registrska" /> </td>
</tr><tr>
<td></td><td><button class="gumb" type="submit">Spremeni</button></td>
</tr>
</table>
</form>

<p style="font-size:20px">Spremeni registrsko številko voznika:</p>
<form action="/sprememba1/" method="post" enctype="multipart/form-data">
<table>
<tr>
<td>Stara registrska številka:</td> <td><input type="text" name="stara"/></td>
</tr><tr>
<td>Nova registrska številka:</td> <td><input type="text" name="nova"/></td>
</tr><tr>
<td>Nosilnost:</td> <td><input type="text" name="nova_n"/></td>
</tr><tr>
<td></td><td><button class="gumb" type="submit">Spremeni</button></td>
</tr>
</table>
</form>