%rebase ('base.html', title='Avtoprevozništvo')

<p style="font-size:20px">Spremeni voznika:</p>
<form action="/sprememba/" method="post" enctype="multipart/form-data">
<table>
<tr>
<td>Ime:</td> <td><input type="text" name="ime_new" accept-charset="utf-8"/></td>
</tr><tr>
<td>Priimek:</td> <td><input type="text" name="priimek_new"  accept-charset="utf-8"/> </td>
</tr><tr>
<td>Datum rojstva:</td> <td> <input type="date" name="datum_new" /> </td>
</tr><tr>
<td>Registrska št.:</td> <td>	<input type="text" name="registrska_new" /> </td>
</tr><tr>
<td>Nosilnost:</td> <td> <input type="integer" name="nosilnost_new" /> </td>
</tr><tr>
<td></td><td><button class="gumb" type="submit">Vnesi</button></td>
</tr>
</table>
</form>
