body {
	background: #eee url(http://3.bp.blogspot.com/-mvmaXN8reK4/UKSGrkaw-kI/AAAAAAAADNs/IiFdSWfVy3o/s1600/white_grid_paper-background_pattern.jpg);
	padding-left: 50px;
	padding-right: 20px;
}

.btn-success{
	margin-top: 10px;
}
