div#stolpec{
position: left;
width: 200px;
border-right: solid 1px #969696;
margin-left: 25px;
margin-top:25px;
line-height: 150%;
}

table#tabela{
border:0px;
}
div#telo{
font-family:Tahoma;
color: #969696;
}

div#drugistolpec{
margin-left:25px;
}

a:link, a:active, a:visited{
color: #969696;
}
a:hover{
color:#656565;
}

table#voznik{
border-collapse: separate;
border-spacing: 10px 5px;
}

table#vozniska{
padding-top: 0px;
}

td#vozniki{
padding-top: 0px;
padding-bottom: 0px;
}

table#mesec{
width: 420px;
}